<p>
  <a routerLink="/">Home</a>
</p>
<h3>{{ title }}</h3>
<p>
  <a routerLink="/edit/new"><button>Add New Encounter Type</button></a>
</p>
<p>
  Search: <input #searchInput placeholder="Enter Name" (keyup)="search(searchInput.value)" />
  &nbsp;&nbsp;&nbsp;
  <input type="checkbox" (change)="toggleIncludeRetired($event.target.checked)"
         [checked]="includeRetired" />&nbsp;Include Retired
  &nbsp;
  <span *ngIf="includeRetired">
    <i>(*Strike through indicates retired)</i>
  </span>
</p>

<table class="material-datatable" mat-table [dataSource]="encounterTypes">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let encounterType; columns: columnsToDisplay"></tr>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let encounterType" [class.retired]="encounterType.retired">
      {{ encounterType.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let encounterType" [ngClass]="{ retired : encounterType.retired }">
      {{ encounterType.description }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let encounterType">
      <a routerLink="/edit/{{ encounterType.uuid }}" title="Edit">
        <fa-icon [icon]="faEdit"></fa-icon>
      </a>
      &nbsp;
      <a (click)="encounterType.retired ? restore(encounterType) : retire(encounterType)"
         class="link" title="{{ encounterType.retired ? 'Restore' : 'Retire' }}">
        <fa-icon [icon]="encounterType.retired ? faUndo : faTimes"></fa-icon>
      </a>
      &nbsp;
      <span class="float-right">
        <a (click)="confirmDialog(encounterType)" class="link" title="Delete">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </a>
      </span>
    </td>
  </ng-container>
</table>
