/* You can add global styles to this file, and also import other style files */

.field-errors {
  color: #ff0000;
}

.retired {
  text-decoration: line-through;
}

.float-right {
  float: right
}

.material-datatable tr th, .material-datatable tr td {
  padding: 5px;
}
